.ant-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  height: auto !important;
}

.ant-dropdown-menu {
  padding: 0 !important;
}

.ant-dropdown-menu-item {
  padding: 8px 16px;
}

.ant-layout-sider-zero-width-trigger-left {
  top: 23px;
}

.ant-statistic-content-value {
  font-weight: bold;
}

.ant-popover-title {
  padding: 12px 16px;
  font-weight: bold;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-modal-confirm-content {
  margin-left: 0 !important;
  margin-top: 24px !important;
}

.ant-menu-item {
  margin: 0 !important;
  padding: 0 16px !important;
}

@media only screen and (max-width: 768px) {
  .ant-page-header-heading {
    justify-content: center;
  }

  .ant-page-header-heading-title {
    display: none;
  }

  .ant-page-header-heading-sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
  }

  .ant-card-body {
    padding: 16px;
  }

  .ant-layout-sider {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    top: 0;
  }
}

