.app-logo {
  height: 64px;
  width: 100%;
  margin: 12px 0;
  padding: 0 16px;
}

.app-layout {
  margin: 0 32px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 40px;
}

.router-view {
  margin: 0 40px;
}

.app-centered-card {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.robot-background {
  background: url("../assets/bicycle.svg");
  background-size: 200px;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .app-layout {
    margin: 0 16px;
  }

  .app-header {
    margin: 8px 8px 8px 40px;
  }

  .router-view {
    margin: 0 8px;
  }
}
